<div class="container-newCard">
  <div class="container-newCard-content">
    <div class="newCard-category">
      <p><strong>Category</strong> . Gym</p>
    </div>
    <div class="newCard-title">
      <h1><a href="#">
        {{ newCardTitle }}
       </a></h1>
    </div>
    <div class="newCard-description">
      <p>{{ newCardDescripition }}</p>
    </div>
    <div class="newCard-separator">
      <hr>
    </div>
    <div class="newCard-subtitleOne">
      <h3><a href="#">{{ newCardSubTitleOne }}</a></h3>
    </div>
    <div class="newCard-separator">
      <hr>
    </div>
    <div class="newCard-subtitleTwo">
      <h3><a href="#">{{ newCardSubTitleTwo }}</a></h3>
    </div>
  </div>

</div>
