<div class="containerBlog">
  <header>
    <app-menu-bar></app-menu-bar>
  </header>


  <div class="menuTitle">
  <app-menu-title></app-menu-title>
  </div>

  <div class="articles">
  <div class="articles-bigCard">
    <app-big-card></app-big-card>
  </div>
  <div class="articles-midCard">
    <div class="teste-newCard">
      <app-news-card></app-news-card>
    </div>
    <div class="teste-VideoCard">
      <app-video-card></app-video-card>
    </div>

  </div>
  <div class="teste-flashCard">
    <app-flash-card></app-flash-card>
    <div class="teste-smallCard">
      <app-small-card></app-small-card>
    </div>
  </div>
  </div>
</div>
