<div class="container-menuBar">
  <div class="menuBar-links">
    <img
      src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRIIhbF_FbGRAiX7Legp-zUtNrOVLC6v-xgUDDI6UR62NUT5Tza"
     alt="logo"
     >
        <ul>
          <li><a href="http://localhost:4200/home">Home</a></li>
          <li><span>•</span></li>
          <li><a href="#">Services</a></li>
          <li><span>•</span></li>
          <li><a href="#">Contact</a></li>
          <li><span>•</span></li>
          <li><a href="#">Classes</a></li>
          <li><span>•</span></li>
          <li><a href="http://localhost:4200/blog">Blog</a></li>
          <li><span>•</span></li>
          <li><a href="#">About Us</a></li>
        </ul>
  </div>
</div>
